In [1]:
                                 ## Data Structures in python [Assignment]

#Q1. Discuss string slicing and provide examples.

# >>> String slicing is generally used to extract very specific(desired) part of a string by cutting and extracting that specific
# part of the string and ignoring the rest.We can use indexing to execute string splicing.For eg:
sr1= "How are you doing?"
sr1[0:5]                   #here '0' does the job of initialising and '5' does the job of terminating.But the count starts from
                           # 0 and ends at 4.

'How a'

In [2]:
#>> Let's say we want to extract the word 'you' from the string...we will...
sr1[8:11]

'you'

In [4]:
# >> catch:- We can also leave the beginning slot empty like...[ : 5] and get the slicing done from the beginning point till 4th
# position.Similarly if we leave the later slot empty,that would automatically mean the end of the string [6:] or [:].
sr1[:5]

'How a'

In [5]:
# >>Steps in slicing:- steps in slicing indicate the jumps while running the count in a string.It is filled at the end of indexing
# for eg:
sr1[0:9:2]    # here the slicing is done and the letters picked are placed two steps away from each other in the original string

'Hwaey'

In [7]:
# >> Reversing steps :- we can count reversely in a string while slicing by using negative indexing.
sr1[::-1]

'?gniod uoy era woH'

In [8]:

#Q2.  Explain the key features of lists in python.
# >>> A list is <<Heterogenous>> i.e. it can contain values belonging to more than one datatypes.for eg:
my_bag=["Aniket",3 , 4.5, 3+5j]

In [9]:
my_bag

['Aniket', 3, 4.5, (3+5j)]

In [10]:
#>>> A list is also <<Mutable>> i.e. it allows alterations and manipulations.for eg:
my_bag.append("Tiger")

In [11]:
my_bag

['Aniket', 3, 4.5, (3+5j), 'Tiger']

In [12]:
my_bag.remove("Aniket") # we can also use ".pop(index)" and remove an element of very specific index.

In [13]:
my_bag

[3, 4.5, (3+5j), 'Tiger']

In [14]:
# >>> We can enter elements in the list at desired positions. for eg:
my_bag.insert(2,"Elephant") # It is important to remember that indexing in a list also starts from 0.Here the desired point is '2'

In [15]:
my_bag # We can also use my_bag[2]="Elephant"...and get the same result

[3, 4.5, 'Elephant', (3+5j), 'Tiger']

In [18]:
#>>> A list is extendable.for eg:
my_movies=["Dilwale","Sholay","Singham","Mother India"]
my_brother_movies=["Krrish","Golmaal","3 idiots"]
my_movies.extend(my_brother_movies)

In [19]:
my_movies

['Dilwale',
 'Sholay',
 'Singham',
 'Mother India',
 'Krrish',
 'Golmaal',
 '3 idiots']

In [20]:
#>>> A list can also be sorted. Sorting in a list is done in alphabetical order. for eg:
sorted(my_movies)

['3 idiots',
 'Dilwale',
 'Golmaal',
 'Krrish',
 'Mother India',
 'Sholay',
 'Singham']

In [23]:
# >>> A list can be spliced:
my_bag[1:3]

[4.5, 'Elephant']

In [24]:

#Q3.     Describe how to access, modify, and delete elements in a list with examples.


#>>> For accessing elements of a list we can use indexing.
my_bag[3]

(3+5j)

In [40]:
#>> For modifying a list we can add, remove, slice,replace elements from the list.

my_friends=["Arun","Tarun","Abhinash","Shivesh"]
#adding
my_friends.append("Vijay")

In [41]:
my_friends

['Arun', 'Tarun', 'Abhinash', 'Shivesh', 'Vijay']

In [42]:
my_friends

['Arun', 'Tarun', 'Abhinash', 'Shivesh', 'Vijay']

In [27]:
#replacing one element:
my_friends[3]="Kamala"

In [43]:
my_friends

['Arun', 'Tarun', 'Abhinash', 'Shivesh', 'Vijay']

In [30]:
#inserting at very specific position:-
my_friends.insert(1,"Shivesh")

In [44]:
my_friends

['Arun', 'Tarun', 'Abhinash', 'Shivesh', 'Vijay']

In [32]:
#>>> A list is extendable.for eg:
my_veggies=["Potato","Tomato","Brinjal"]
my_brother_veggies=["Cabbage","Pumpkin","Carrot"]
my_veggies.extend(my_brother_veggies)

In [33]:
my_veggies

['Potato', 'Tomato', 'Brinjal', 'Cabbage', 'Pumpkin', 'Carrot']

In [45]:
# >>> For deleting elements of a list we can use .pop(),.remove(),del,clear
# for reoving elements: 
my_friends.remove("Vijay")

In [46]:
my_friends

['Arun', 'Tarun', 'Abhinash', 'Shivesh']

In [48]:
#for removing very specific index element we use .pop()
my_friends.pop(2)

'Abhinash'

In [49]:
my_friends

['Arun', 'Tarun', 'Shivesh']

In [50]:
# for clearing all elements of a list we use:
my_friends.clear()

In [51]:
my_friends

[]

In [53]:
# for deleting the entire list we use 'del' command after which referring to that list previously existing will show an error.

In [2]:

#Q4.      Compare and contrast tuples and lists with examples.

# Differences :-
#     1. Lists are mutable i.e. they can be modified as per need-->lengthened,shotened,capitalized,added,removed,replaced,etc.
#        while tuples aren't this flexible in permitting such actions on them i.e. they are immutable.
#     2. Tuples use parentheses'()' whereas lists use square brackets '[]'
my_list=["bottle","pen","table",1,3.4]
my_list.append("chair")

In [3]:
my_list

['bottle', 'pen', 'table', 1, 3.4, 'chair']

In [5]:
my_tuple=("building","people","handle", 4, 5)
my_tuple.add("add")

AttributeError: 'tuple' object has no attribute 'add'

In [6]:
my_list.remove("table")

In [7]:
my_list

['bottle', 'pen', 1, 3.4, 'chair']

In [8]:
my_tuple.remove("people")

AttributeError: 'tuple' object has no attribute 'remove'

In [13]:
#        Similarities:-
#            a. Lists and tuples, both can be called out through indexing
#            b. Both lists and tuples are capable of containing  values of multiple datatypes.
my_help=["Lion","Horse",1 ,2 ,3.5, True, 3+5j]
hello_tuple=("tiger","octopus", 5, 6 ,7 ,8.8 , False, 8+6j)
my_help[1]

'Horse'

In [14]:
hello_tuple[1]

'octopus'

In [15]:
# INSIGHTS>>>> 1. I understand that tuples are used somewhere where the storing of data comes with ensuring that the data stored
#                 is not accidentally lost or manipulated by mistake, since tuples are not mutable and so no changes can be made.
#                 for eg. important details of the employees working in a company or important details of account holders in bank.

#              2. Lists are more suitable to be used for dynamic data---> the sort of data where values are added,removed and
#                 updated from time to time, for eg. weather forecasts,stock prices, etc.

In [17]:

# Q3.      Describe the key features of sets and provide examples of their use.

# Key features of sets include:
#          a. Sets are heterogenous in nature, meaning they can contain elements from different datatypes,except some mutable
#            elements.
#          b. Sets don't maintain any order i.e. when we store data in a set, it doesn't appear in some particular format.

s={"Books","Bucket",3 ,4 ,5.5 ,4+5j ,True, "word"}
s

{(4+5j), 3, 4, 5.5, 'Books', 'Bucket', True, 'word'}

In [3]:
type(s)

set

In [16]:
#          c. Sets are mutable; it is easy to add and remove elements from a set.
#          d. Sets are unordered arrangement of elements, so accessing them on the basis of indexing is not possible.
s.add("Chair")

In [18]:
s

{(4+5j), 3, 4, 5.5, 'Books', 'Bucket', True, 'word'}

In [19]:
s.remove("word")

In [20]:
s

{(4+5j), 3, 4, 5.5, 'Books', 'Bucket', True}

In [9]:
s(1)  #not accessible by indexing!

TypeError: 'set' object is not callable

In [10]:
#          e. Sets don't entertain duplicacy i.e. any duplicate element that has been entered in a set will easily be recognised
#            by the set and then removed.

f={1,2,3,4,5,5,6,2,3}
f

{1, 2, 3, 4, 5, 6}

In [11]:
#          f. Mathematical operations like intersection,union, difference and symmetric difference can be executed on set with
#            ease.

s|f

{(4+5j), 2, 3, 4, 5, 5.5, 6, 'Books', 'Bucket', 'Chair', True}

In [12]:
s&f

{1, 3, 4}

In [13]:
s-f

{(4+5j), 5.5, 'Books', 'Bucket', 'Chair'}

In [14]:
s^f

{(4+5j), 2, 5, 5.5, 6, 'Books', 'Bucket', 'Chair'}

In [21]:
# INSIGHTS>>>>  1. It is very clear that sets should be used where there is a fear of duplicacy, because sets don't leave any
#                 room for duplicacy, and hence no element can repeat itself or be entered more than once.
#               2. Due to the flexibility of sets to allow operations like union,difference,intersection,etc. it is very easy 
#                 to use sets for tasks that need frequent merging of sets of information without duplicacy.

In [25]:

# Q6.  Discuss the use cases of tuples and sets in Python programming.

# Use cases of tuples:
#                     1. Constant data that need not be changed in future are stored in tuples for example: holidays,http codes,
#                       currency symbols of different nations,mathematical constants,etc.
#                     2. Tuples are generally used to keep the security and integrity of information intact.Because no changes
#                        are allowed after finalisation of creating a tuple.
#                     3. Tuples are fast and take up small space due to its fixed size(non-expandable,non-reductible).

tupl=("pi:3.14","gravitational constant:9.1","Ramesh phn no: 9976597890")
tupl.remove("Ramesh phn no: 9976597890")

AttributeError: 'tuple' object has no attribute 'remove'

In [27]:
# Use cases of sets:
#                     1. To keep the uniqueness of data intact, sets are used. Sets remove all sorts of duplicates by identifying
#                       similar elements in a particular set. While cleaning data and processing them, there is a huge chance of 
#                       data repeating themselves.Sets prevent such happening and prevent duplicates from existing.
#                     2. Operations like union,intersection,difference, and symmetric difference help us merge us separate data
#                       -collection without duplicates.For eg: combining list of customers in a mall over the span of a week,
#                        identifying unique visitors on a website, finding common friends between two social media users,etc.

new_sign_ins_day_1={"Suresh","Vimal","Harsh","Kamala","Harsh","Kamala","Suresh","Vinay"}
new_sign_ins_day_1

{'Harsh', 'Kamala', 'Suresh', 'Vimal', 'Vinay'}

In [31]:
new_sign_ins_day_2={"Rohan","Karan","Kamala","Shruti","Vinay","Harsh"}
new_sign_ins_day_3={"Vinay","Naina","Arjun","Suresh","Harsh"}

In [30]:
new_sign_ins_day_1 | new_sign_ins_day_2 | new_sign_ins_day_3

{'Aisha',
 'Arjun',
 'Harsh',
 'Kamala',
 'Karan',
 'Naina',
 'Rohan',
 'Shruti',
 'Suresh',
 'Vimal',
 'Vinay',
 'Vivek'}

In [32]:
new_sign_ins_day_1 & new_sign_ins_day_2 & new_sign_ins_day_3

{'Harsh', 'Vinay'}

In [34]:

# Q7.    Describe how to add, modify, and delete items in a dictionary with examples.

# >>Adding elements:-
student={}

In [37]:
# using assignment operator(=) :-
student["name"]="John"
student["age"]= 19
student["Grade"]= "A"

In [38]:
student

{'name': 'John', 'age': 19, 'Grade': 'A'}

In [44]:
#using .update() :-
student.update({"Major":"Computer Science"})

In [45]:
student

{'name': 'John', 'age': 19, 'Grade': 'A', 'Major': 'Computer Science'}

In [46]:
#>> Modifying elements

#using assignment operator(=) :-
student["age"]= 21

In [47]:
student

{'name': 'John', 'age': 21, 'Grade': 'A', 'Major': 'Computer Science'}

In [48]:
#using .update():-
student.update({"Grade":"A+"})

In [49]:
student

{'name': 'John', 'age': 21, 'Grade': 'A+', 'Major': 'Computer Science'}

In [50]:
#Deleting elements:-
   # Using del statement:-
Aniket={"Age":21,"Height":6,"Semester":"1st","Grade":"A+","Speaks":"English"}
del Aniket["Height"]

In [51]:
Aniket

{'Age': 21, 'Semester': '1st', 'Grade': 'A+', 'Speaks': 'English'}

In [52]:
   # Using .pop():-
Aniket.pop("Grade")

'A+'

In [53]:
Aniket

{'Age': 21, 'Semester': '1st', 'Speaks': 'English'}

In [54]:
   # Using .clear():-
Aniket.clear()

In [55]:
Aniket

{}

In [72]:

# Q8.   Discuss the importance of dictionary keys being immutable and provide examples.

#  1. It is important for dictionary keys to be immutable so that any chance of duplicate keys existing simultaneously is being
#    ruled out.Immutable keys ensure that key-value pair remain unique.
#  2. To ensure dictionaries are hashed, they need to have keys that are immutable.

##  Examples of keys that immutable and which can be used in dictionaries:-
#          1. Strings: "Keys","Hello","String","Boy",etc.
#          2. Integers: 1,2,3,4,5,etc.
#          3. Float: 3.4,4.4, 6.5,etc.
#          4. Tuples: ("Vijay",1,5,6,etc.)
#          5. Forzensets:{[1,2,3]}
dictt={"hello":"world", 1:"hey", 4.5:"Goat",(1,2,3,"Amit"): 34,frozenset([1,2,3]):36}

In [73]:
dictt

{'hello': 'world',
 1: 'hey',
 4.5: 'Goat',
 (1, 2, 3, 'Amit'): 34,
 frozenset({1, 2, 3}): 36}

In [74]:
## Examples of key that are mutable and can't be used as keys:-
#          1.Lists: [1,2,3,4]
#          2.Dictionaries: {"Ramesh","Suresh","Ajay",1,2,3}
#          3.Sets: {4,56,7,8}

dicttt={[1,2,3,4]: "Sarvesh"}

TypeError: unhashable type: 'list'

In [75]:
dicttt={{1,2,3,"Ramesh"}: 1}

TypeError: unhashable type: 'set'

In [1]:
hello={}
heyy={"a":1,"b":2}
hello[heyy]=2

TypeError: unhashable type: 'dict'